@keyframes waving {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(30deg);
  }
}
.banner {
  padding: 4rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  .title {
    font-size: 72px;
    margin-bottom: 0;
    margin-left: -3px;
    span {
      display: block;
      font-size: 24px;
      margin-left: 6px;
      .wave {
        display: inline-block;
        animation: 1.3s ease-in-out 1s infinite waving;
        transform-origin: 65% 65%;
      }
    }
    strong {
      color: var(--ifm-color-primary-lightest);
    }
  }
  .roleContent {
    font-size: 21px;
    .role {
      font-weight: bold;
      font-size: 30px;
    }
  }
  .col {
    display: flex;
    justify-content: space-between;
    img {
      height: 256px;
    }
  }
}

.badges {
  display: flex;
  flex-direction: column;
  img {
    height: 36px;
    margin-right: 0.5rem;
  }
}

@media screen and (max-width: 996px) {
  .banner {
    padding: 4rem 2rem;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    .col {
      flex-direction: column;
      img {
        object-fit: contain;
      }
    }
  }

  .badges {
    text-align: center;
    img {
      margin: 0 0.25rem;
    }
  }
}

.buttons {
  margin-top: 2rem;
}

.card {
  margin-top: 1.5rem;
}
